/*  
------------------------------------------
Stylesheet for components UI in edit-mode
These are loaded inside the editor's canvas iframe
------------------------------------------ 
*/
plotly, audio, 

q-separator, q-space, q-toolbar, q-editor, q-radio, q-input, q-select, q-checkbox, q-slider, q-range, q-btn, q-button-group, q-button-dropdown, q-knob, q-date, q-time, q-list, q-item, q-item-label, q-table, q-img, q-video, q-banner, q-chip, q-toggle, q-icon, q-popup-proxy, q-rating, q-spinner, q-timeline, q-timeline-entry, q-tree, q-avatar, q-badge, q-expansion-item
{
  background: #f0f0f0;
  position: relative;
  min-height: 40px;
  display: block;
  text-align: center;
  margin: 1px;
  border: dashed 1.9px #00000050;
  padding: 5px;
  font-size: 12px;

  
  background-repeat: no-repeat;
  background-size: auto 25px;
}

q-separator{   background-image: url(../images/icons/components/ui_components/separator.png); }
q-space{   background-image: url(../images/icons/components/ui_components/space.png); }
q-toolbar{   background-image: url(../images/icons/components/ui_components/toolbar.png); }
q-editor{   background-image: url(../images/icons/components/ui_components/editor.png); }
q-radio{   background-image: url(../images/icons/components/ui_components/radio.png); }
q-input{   background-image: url(../images/icons/components/ui_components/input_text_field.png); }
q-select{   background-image: url(../images/icons/components/ui_components/select.png); }
q-checkbox{   background-image: url(../images/icons/components/ui_components/checkbox.png); }
q-slider{   background-image: url(../images/icons/components/ui_components/slider.png); }
q-range{   background-image: url(../images/icons/components/ui_components/range.png); }
q-btn{   background-image: url(../images/icons/components/ui_components/button.png); }
q-button-group{   background-image: url(../images/icons/components/ui_components/button-group.png); }
q-button-dropdown{   background-image: url(../images/icons/components/ui_components/button-dropdown.png); }
q-knob{   background-image: url(../images/icons/components/ui_components/knob.png); }
q-date{   background-image: url(../images/icons/components/ui_components/date_picker.png); }
q-time{   background-image: url(../images/icons/components/ui_components/time.png); }
q-list{   background-image: url(../images/icons/components/ui_components/list.png); }
q-item{   background-image: url(../images/icons/components/ui_components/item.png); }
q-item-label{   background-image: url(../images/icons/components/ui_components/item.png); }
q-table{   background-image: url(../images/icons/components/ui_components/table.png); }
q-img{   background-image: url(../images/icons/components/ui_components/img.png); }
q-video{   background-image: url(../images/icons/components/ui_components/video.png); }
q-banner{   background-image: url(../images/icons/components/ui_components/banner.png); }
q-chip{   background-image: url(../images/icons/components/ui_components/chip.png); }
q-toggle{   background-image: url(../images/icons/components/ui_components/toggle.png); }
q-icon{   background-image: url(../images/icons/components/ui_components/icon.png); }
q-popup-proxy{   background-image: url(../images/icons/components/ui_components/popup-proxy.png); }
q-rating{   background-image: url(../images/icons/components/ui_components/rating.png); }
q-spinner{   background-image: url(../images/icons/components/ui_components/spinner.png); }
q-timeline{   background-image: url(../images/icons/components/ui_components/timeline.png); }
q-timeline-entry{   background-image: url(../images/icons/components/ui_components/timeline-entry.png); }
q-tree{   background-image: url(../images/icons/components/ui_components/tree.png); }
q-avatar{   background-image: url(../images/icons/components/ui_components/avatar.png); }
q-badge{   background-image: url(../images/icons/components/ui_components/badge.png); }
q-expansion-item{   background-image: url(../images/icons/components/ui_components/expansion_item.png); }

/* q-avatar img, q-badge img, q-banner img, q-button-dropdown img, q-button-group img, q-button img, q-chip img, q-editor img, q-icon img, q-item img, q-knob img, q-list img, q-popup-proxy img, q-radio img, q-rating img, q-separator img, q-space img, q-spinner img, q-time img, q-timeline-entry img, q-timeline img, q-toggle img, q-toolbar img, q-tree img, q-video img */
q-slider img, q-range img, q-select img, q-checkbox img, q-input img, q-date img, q-expansion-item img
{
  max-height: 30px;
  max-width: 30px;
  position: absolute;
  top: 4px;
  left: 0px;
}

q-table img, plotly img {
  max-height: 60px;
  max-width: 100%;
}

.loop-iterator, .conditional-block{
  min-height: 20px;
}



/* custom components */
.row{
  /* height: 200px; */
  display: table;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 100%;
}
.col{
  width: 8%;
  display: table-cell;
  height: 75px;
}

#editableDOM{
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p{
  min-height: 20px;
}
address, article, aside, main, nav, section{
  min-height: 20px;
  padding: 10px;
}