/*  
------------------------------------------
Stylesheet for Grapes UI customisation
------------------------------------------ 
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

/*--GENERAL--*/
* {
  text-shadow: none !important;
}
html,
body {
  height: 100%;
  /* margin-top: 32px !important; */
  overflow: hidden;
  line-height: 1 !important;
}
#gjs {
  width: calc(100% - 0px) !important;
  height: 100%;
  left: 0px;
  position: relative;
}
.gjs-editor {
  font-family: "Inter", sans-serif !important;
}
/*--color icons & some text*/
.gjs-two-color {
  color: #273b48 !important;
}

/*--color active icons*/
.gjs-four-color {
  opacity: 1 !important;
  color: #305972 !important;
}
.gjs-four-color svg rect {
  stroke: #4e5f64;
  fill: transparent;
}
.gjs-pn-btn svg rect {
  stroke: #4e5f64;
  fill: transparent;
}
/*--hover-icons*/
.gjs-four-color-h:hover {
  color: #303e43 !important;
  background-color: #e7ecec !important;
}
.gjs-four-color-h:hover .gjs-block-label {
  color: #45545a !important;
}

/*--PANELS(3)--*/
/*--icons--*/
.gjs-pn-buttons {
}
.gjs-pn-btn {
  opacity: 0.6;
  color: #305972 !important;
  padding: 4px 7.5px !important;
  margin-right: 0 !important;
}
.gjs-pn-btn.gjs-pn-active {
  background-color: #ffffff00 !important;
  box-shadow: none !important;
  border: 0px solid #ffffff00 !important;
  color: #305972 !important;
  opacity: 1;
}
.gjs-pn-btn:hover {
  background-color: #f9f8f600 !important;
  box-shadow: none !important;
  opacity: 0.9;
}
.btn_deploy:hover {
  background-color: #51bcf7 !important;
  /* box-shadow: none !important; */
  opacity: 0.9 !important;
}
/*--PANEL(DEVICES SECTION)--*/
.gjs-pn-devices-c {
  /* padding: 3px !important; */
}

/*--PANEL(OPTIONS)--*/
.gjs-pn-options {
  padding: 5px 7.5px 4px 0 !important;
  right: 250px;
  top: 0;
}


/*eye*/
.gjs-bg-main,
.gjs-sm-sector .gjs-sm-colorp-c,
.gjs-clm-tags .gjs-sm-colorp-c,
.gjs-off-prv {
  background-color: #d5dde2 !important;
  color: #d5dde2 !important;
  border-radius: 0 0 3px 0;
  border: 1px solid #d5dde2 !important;
}
/*ruler*/
.rul_ruler {
  background-color: #a2b1b8 !important;
  /*border:1px solid #c7c5c1!important*/
  border: none !important;
  z-index: 0 !important;
}
.rul_cornerTL {
  background-color: #a2b1b8 !important;
  border: 1px solid #f2f0ec00 !important;
  color: #305972 !important;
  opacity: 0.6 !important;
}
.rul_cornerTL:hover {
  background-color: #c0ccd2 !important;
  opacity: 1 !important;
}

/*--PANEL (VIEWS)--*/
.gjs-pn-panel {
  background-color: #f0f4f4 !important;
  box-shadow: 0px 3px 6px rgba(2, 26, 34, 0) !important;
  border-bottom: none !important;
}
.gjs-one-bg {
  background-color: #f9fbfb !important;
  border-top: #f0f4f4 !important;
}
/*--scrollbar--*/
.gjs-editor-cont ::-webkit-scrollbar {
  width: 6px !important;
}
.gjs-editor-cont ::-webkit-scrollbar-track {
  background: #f0f4f4 !important;
}
.gjs-editor-cont ::-webkit-scrollbar-thumb {
  background: #305972 !important;
}

/*--PANEL(VIEWS)--*/
.gjs-pn-views-container {
  width: 250px;
  /* border-top: 2px solid rgba(0, 0, 0, 0) !important; */
}

.gjs-pn-views {
  width: 250px;
  box-shadow: 0px 3px 6px rgba(2, 26, 34, 0.04) !important;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0) !important; */
  border-left: 1px solid #d0d6d9 !important;
  /* padding-bottom: 3px !important; */
  padding-left: 7.5px;
}

.gjs-pn-commands {
  box-shadow: 0px 3px 6px rgba(2, 26, 34, 0.04) !important;
  background: #f9fbfb !important;
}

/*--OPEN STYLE MANAGER--*/
/*text properties*/
.gjs-color-warn {
  color: #305972 !important;
  fill: #30597291 !important;
}
/*small cross icon*/
.gjs-sm-clear {
  color: #305972 !important;
}
/*properties gathered in box sections*/
.gjs-sm-sector .gjs-sm-field.gjs-sm-composite,
.gjs-clm-tags .gjs-sm-field.gjs-sm-composite,
.gjs-sm-sector .gjs-sm-composite.gjs-clm-select,
.gjs-clm-tags .gjs-sm-composite.gjs-clm-select,
.gjs-sm-sector .gjs-sm-composite.gjs-clm-field,
.gjs-clm-tags .gjs-sm-composite.gjs-clm-field {
  background-color: #f2f6f6 !important;
  border: 1px solid rgba(255, 255, 255, 0) !important;
}
/*radio-items*/
.gjs-radio-items {
  border: 1px solid #132c3b2a !important;
  border-radius: 3px !important;
}
.gjs-radio-item {
  border-left: 1px solid #132c3b2a !important;
}
.gjs-radio-item:first-child {
  border: none !important;
}
.gjs-radio-item input:checked + .gjs-radio-item-label {
  background-color: #132c3b0e !important;
}
.gjs-radio-item:hover {
  background-color: #132c3b17 !important;
}
/*inputs & select*/
.gjs-field input,
.gjs-field textarea,
.gjs-field-class_select,
.gjs-select {
  background-color: white !important;
  border: 1px solid #132c3b2a !important;
  border-radius: 3px !important;
}
.gjs-input-unit {
  border: none !important;
}
.gjs-sm-sector .gjs-sm-field input,
.gjs-clm-tags .gjs-sm-field input,
.gjs-sm-sector .gjs-clm-select input,
.gjs-clm-tags .gjs-clm-select input,
.gjs-sm-sector .gjs-clm-field input,
.gjs-clm-tags .gjs-clm-field input,
.gjs-sm-sector .gjs-sm-field select,
.gjs-clm-tags .gjs-sm-field select,
.gjs-sm-sector .gjs-clm-select select,
.gjs-clm-tags .gjs-clm-select select,
.gjs-sm-sector .gjs-clm-field select,
.gjs-clm-tags .gjs-clm-field select {
  background-color: transparent !important;
  color: #132c3bb5 !important;
}
.gjs-field-arrow-u {
  border-bottom: 4px solid #132c3b3e !important;
}
.gjs-field-arrow-d {
  border-top: 4px solid #132c3b3e !important;
}
.gjs-field .gjs-d-s-arrow {
  border-top: 4px solid #132c3b3e !important;
}
.gjs-field .gjs-sel-arrow {
  background-color: white !important;
  background: white !important;
  width: 12px !important;
}
.gjs-sel-arrow {
  background-color: white !important;
  background: white !important;
  width: 12px !important;
}
/*tags field(at top)*/
.gjs-clm-tags #gjs-clm-tags-field {
  background-color: white !important;
  border: 1px solid #132c3b2a !important;
  border-radius: 3px !important;
}
.gjs-field {
  background-color: white !important;
  border-radius: 3px !important;
}
.gjs-three-bg {
  background-color: #132c3b0e !important;
  /*border:1px solid #E7E6E3!important;*/
}
.gjs-clm-tags #gjs-clm-checkbox,
.gjs-clm-tags #gjs-clm-close {
  color: #305972ea !important;
}
.gjs-clm-sel-rule {
  opacity: 1 !important;
  color: #305972 !important;
  font-weight: 500 !important;
}
.gjs-clm-tags #gjs-clm-new {
  color: #305972 !important;
  opacity: 0.7 !important;
}
/*upload image*/
.gjs-sm-sector .gjs-sm-property .gjs-sm-btn,
.gjs-clm-tags .gjs-sm-property .gjs-sm-btn {
  background-color: #78767313 !important;
  color: #30597291 !important;
  box-shadow: none !important;
  text-shadow: none !important;
  opacity: 1 !important;
  border: 1px solid #78767313 !important;
}
/*checkbox*/
.gjs-field-checkbox {
  border: 1px solid #e7e6e3 !important;
}
.gjs-field-checkbox input:checked + .gjs-chk-icon {
  border-color: rgb(66 66 66 / 50%);
}

/*--SETTINGS--*/
.gjs-traits-label {
  border-bottom: 1px solid #efeeeb !important;
}

/*--OPEN BLOGS--*/
/*--titles--*/
.gjs-category-title,
.gjs-layer-title,
.gjs-block-category .gjs-title,
.gjs-sm-sector .gjs-sm-title,
.gjs-clm-tags .gjs-sm-title {
  background-color: #e3e9ec !important;
  text-transform: uppercase !important;
  color: #45545a;
  font-weight: 600;
  text-transform: uppercase;
  border: 0px solid #f2f0ec !important;
  border-left: none !important;
  border-right: none !important;
  padding: 6px 10px 6px 15px;
}

/* components panel*/
.gjs-block-categories {
}

/*--categories of components--*/
.gjs-category-open,
.gjs-block-category.gjs-open,
.gjs-sm-sector.gjs-sm-open,
.gjs-sm-open.gjs-clm-tags {
  border-bottom: none !important;
}
.gjs-blocks-c {
  padding-bottom: 12px !important;
  background: #f9fbfb !important;
}
/*--components--*/
.gjs-block {
  border: none;
  box-shadow: none !important;
  width: 100%;
  flex-direction: row-reverse;
  min-height: 10px !important;
  margin: 0px;
  background-color: #f9fbfb !important;
  padding: 14px;
}
/*--text components--*/
.gjs-block-label {
  line-height: 18px !important;
  font-weight: 500 !important;
  font-family: "Inter", sans-serif !important;
  font-size: 13.5px !important;
  color: #45545a;
}

.gjs-block__media {
  margin-bottom: 0px !important;
  height: fit-content !important;
  vertical-align: center !important;
  line-height: 0 !important;
}
img.blockIcon {
  max-width: 36px;
  max-height: 24px;
}

/*--CANVAS--*/
.gjs-cv-canvas {
  background-color: #d6dee2 !important;
  width: calc(100% - 250px);
}
.gjs-cv-canvas__frames {
  border: 10px solid #d6dee2 !important;
}
/*--iframe--*/
iframe.gjs-frame {
  outline: none !important;
}
/*--outline--*/
.gjs-cv-canvas .gjs-highlighter,
.gjs-cv-canvas .gjs-highlighter-sel {
  outline: 1px solid #305972 !important;
}
.gjs-resizer-h {
  border: 2px solid #305972 !important;
  border-radius: 1px !important;
  width: 9px !important;
  height: 9px !important;
}
.gjs-resizer-h-cr {
  margin: auto -7px !important;
}
.gjs-resizer-h-bc {
  margin: -7px auto !important;
}
.gjs-clm-sel-id {
  font-size: 12px !important;
  opacity: 1 !important;
  color: #305972 !important;
  font-weight: 500;
}
/*--toolbar & id label--*/
.gjs-toolbar {
  background-color: #305972 !important;
  border-radius: 2px !important;
}
.gjs-toolbar-item {
  border-radius: 2px !important;
}
.gjs-com-badge,
.gjs-com-badge-red,
.gjs-badge {
  background-color: #305972 !important;
  border-radius: 2px;
}

.panel__right {
  line-height: normal !important;
}

.gjs-layer-vis {
  padding-top: 13px;
}
.gjs-layer-caret {
  top: 5px;
}
.gjs-layer-name {
  line-height: 12px !important;
}
.gjs-layer-count {
  top: 12px;
}
.gjs-layer-move {
  padding-top: 12px;
}
.gjs-sm-header {
  padding-top: 15px;
}
.gjs-sm-sector-title {
  background-color: rgba(80, 114, 131, 0.06) !important;
  text-transform: uppercase !important;
  color: #45545a;
  font-weight: 600;
  text-transform: uppercase;
  border: 0px solid rgb(255, 192, 252) !important;
  border-left: none !important;
  border-right: none !important;
  padding: 8px 10px 8px 15px;
}

.q-field--dense .q-field__control,
.q-field--dense .q-field__marginal {
  height: 30px !important;
}
.q-field__control {
  color: #305972c3 !important;
}
.gjs-editor-cont ::-webkit-scrollbar-thumb {
  background: #f0f4f4 !important;
}
.q-field__marginal {
  color: #305972;
  font-size: 21px !important;
}
.q-icon {
  margin-bottom: 3px !important;
}
.q-field {
  font-size: 13px;
}
.q-field--outlined .q-field__control:before {
  border: 1px solid #28404f2b;
  border-radius: 3px;
  background-color: white !important;
  transition: border-color 0.36s cubic-bezier(0.4, 0, 0.2, 0.5);
}
.gjs-field input {
  border: 1px solid #28404f2b !important;
  border-radius: 3px !important;
}

.gjs-trt-trait .q-field__native {
  background: #F9FBFA !important;
}

.code-panel section .codepanel-label {
  color: #45545a !important;
  font-weight: 500;
  text-transform: uppercase !important;
  color: #45545a;
  font-weight: 600;
}
.code-panel section .codepanel-separator {
  background: rgba(80, 114, 131, 0.06) !important;
}

button.gjs-btn-prim {
  background: #305972 !important;
  outline: 1px solid #305972 !important;
  font-weight: 500 !important;
  color: white !important;
  font-family: "Inter", sans-serif !important;
  font-size: 13px !important;
  border-radius: 3px !important;
}
button.gjs-btn-prim:hover {
  background: #204155 !important;
}

.gjs-field-units {
  line-height: normal;
}
.gjs-color-main,
.gjs-sm-stack #gjs-sm-add,
.gjs-off-prv {
  color: #305972 !important;
  fill: #305972 !important;
}

input[type="range"] {
  color: #305972 !important;
}

/*STYLES NOT CLEANED UP*/
.gjs-mdl-title {
  font-family: "Inter", sans-serif !important;
}
.gjs-cm-editor#gjs-cm-htmlmixed #gjs-cm-title,
.gjs-cm-editor#gjs-cm-css #gjs-cm-title {
  color: #565c61 !important;
  text-shadow: none !important;
}
#gjs-cm-title {
  border-radius: 3px 3px 0 0 !important;
  background-color: #e8ebee !important;
  font-family: "Inter", sans-serif !important;
  border: 1px solid #e8ebee !important;
  border-bottom: none !important;
}

#gjs-cm-code {
  background: #f1f3f5 !important;
  border: 1px solid #e8ebee !important;
  border-radius: 0 0 3px 3px !important;
}
.CodeMirror {
  background: #f9f8f64d !important;
}

.cm-s-hopscotch .CodeMirror-gutters {
  background: #f9f8f64d !important;
}

.gjs-cm-editor#gjs-cm-htmlmixed {
  border-right: 1px solid #e3e7ea !important;
}
.gjs-mdl-header {
  border-bottom: 1px solid #e3e7ea !important;
}

.cm-tag {
  color: #305972 !important;
}
.cm-comment {
  color: green !important;
}
.cm-string {
  color: #305972 !important;
}
.cm-property {
  color: #51bcf7 !important;
}
.cm-variable {
  color: #b33508 !important;
}
.cm-keyword {
  color: rgb(255, 0, 89) !important;
}
.cm-attribute {
  color: rgb(0, 60, 255) !important;
}
.cm-builtin {
  color: #305972 !important;
  text-shadow: none !important;
}
.cm-qualifier {
  color: #305972 !important;
  text-shadow: none !important;
}
.cm-atom {
  color: rgb(255, 0, 204) !important;
}
span.cm-def {
  color: rgb(0, 154, 157) !important;
}
span.cm-number {
  color: purple !important;
}
.cm-s-hopscotch.CodeMirror {
  color: rgb(152, 152, 152) !important;
  text-shadow: none !important;
}
.cm-s-hopscotch .CodeMirror-linenumber {
  color: #1f374669 !important;
}

.gjs-clm-tag {
  border: 1px solid rgba(0, 0, 0, 0.019);
}

.gjs-rte-toolbar {
  border: none !important;
  box-shadow: 0 0 5px #3059721a !important;
}

.rte-hilite-btn {
  background: #305972 !important;
}
.gjs-rte-action:hover {
  background: #eef2f5 !important;
  border-radius: 3px !important;
}
#logic-toolbar {
  background: #eef2f5 !important;
  border: 1px solid #eef2f5 !important;
}
#logic-toolbar:hover {
  background: #eef2f5 !important;
  border: 1px solid #eef2f5 !important;
}

.gjs-layer-title {
  border-top: none !important;
}

.gjs-am-file-uploader > form {
  background-color: #eef2f5 !important;
  border: 2px dashed #19303e2b !important;
  font-family: "Inter", sans-serif !important;
}
.gjs-am-assets-cont {
  background-color: #eef2f5 !important;
  border: 1px solid #eef2f5 !important;
  border-radius: 0 3px 3px 0 !important;
  border-left: none !important;
}

.gjs-rte-actionbar {
  /* max-width: 600px; */
  flex-wrap: inherit;
}

.CodeMirror {
  font-size: 13px !important;
}

.gjs-field-text {
  width: 60%;
  height: 30px;
}

.q-position-engine {
  margin-top: -20px !important;
}

.q-field--with-bottom {
  padding-bottom: 5px;
}

.q-field--dense .q-field__control,
.q-field--dense .q-field__marginal {
  height: 35px;
}

.gjs-trt-trait .gjs-label {
  top: 4px;
  position: relative;
  line-height: 14px;
}

.gjs-trt-trait .q-field__append {
  font-size: 16px;
  padding-left: 5px;
  height: min-content;
  top: 10px;
  position: relative;
  background: #F9FBFA !important;
}

.gjs-trt-trait .q-field__native {
  /* background-color: #ff00ff !important; */
  min-width: 20px;
  min-height: 20px;
}

.q-field--auto-height .q-field__control-container {
  padding-top: 0;
  height: min-content;
}

.gjs-trt-trait .q-field--standard .q-field__control:before {
  border-bottom: none;
}

.gjs-trt-trait input {
  font-size: 12px;
}
.gjs-trt-trait input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 11px;
  color: #19303e7e !important;
  opacity: 1;
  text-align: right;
  font-style: italic;
  padding-right: 2px;
}
.gjs-trt-trait input::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 11px;
  color: #19303e7e !important;
  opacity: 1;
  text-align: right;
  font-style: italic;
  padding-right: 2px;
}
.gjs-trt-trait input:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 11px;
  color: #19303e7e !important;
  opacity: 1;
  text-align: right;
  font-style: italic;
  padding-right: 2px;
}
.gjs-trt-trait input:-moz-placeholder {
  /* Firefox 18- */
  font-size: 11px;
  color: #19303e7e !important;
  opacity: 1;
  text-align: right;
  font-style: italic;
  padding-right: 2px;
}

.traitLabel:hover {
  color: #333333;
  /* text-decoration: underline; */
}

.traitTooltipContent {
  background-color: #ffffff !important;
  box-shadow: 2px 2px 8px #30597231 !important;
  color: #305972;
  font-size: 12px;
  /* font-size: 12px;
    color: #999;
    font-style: italic; */
}

.bindingMatch input {
  color: #305972 !important;
}

.q-item {
  min-height: 28px !important;
  font-size: 14px !important;
}

.q-manual-focusable--focused {
  background-color: rgb(255, 255, 255) !important;
}
body.desktop .q-focusable:focus > .q-focus-helper,
body.desktop .q-hoverable:hover > .q-focus-helper,
body.desktop .q-manual-focusable--focused > .q-focus-helper {
  background: #ddf0ff !important;
}
.q-item--active,
.q-item.q-router-link--active {
  background: #e7eaee !important;
}

.gjs-field {
  background: #F9FBFA !important;
}

.gjs-field-colorp {
  border-left: 1px solid #28404f2b !important;
}

.q-item--active,
.q-item.q-router-link--active {
  background: #30597220 !important;
  color: #305972 !important;
}


/* .gjs-dashed *[data-gjs-highlightable]{
    outline: 1px dashed rgba(235, 8, 8, 0.7)!important;
} */
/* .gjs-dashed *[data-gjs-highlightable] */

#active-frame {
  border: 2px solid yellow !important;
}
.gjs-sm-layers {
  border: 1px solid #28404f14 !important;
  background-color: white !important;
}
.gjs-field-integer {
  background-color: white !important;
}
#gjs-sm-input-holder > select {
  background-color: white !important;
  background: white !important;
}
.gjs-sm-input-holder > input[type="text"] {
  background-color: white !important;
  background: white !important;
}
.gjs-input-holder {
  background-color: white !important;
  background: white !important;
}
/* .gjs-sm-sector .gjs-sm-field input, .gjs-clm-tags .gjs-sm-field input, .gjs-sm-sector .gjs-clm-select input, .gjs-clm-tags .gjs-clm-select input, .gjs-sm-sector .gjs-clm-field input, .gjs-clm-tags .gjs-clm-field input, .gjs-sm-sector .gjs-sm-field select, .gjs-clm-tags .gjs-sm-field select, .gjs-sm-sector .gjs-clm-select select, .gjs-clm-tags .gjs-clm-select select, .gjs-sm-sector .gjs-clm-field select, .gjs-clm-tags .gjs-clm-field select{
    background-color:white!important;
    background:white!important;
} */

.gjs-radio-item-label {
  background-color: white !important;
}
.gjs-field textarea {
  background-color: white !important;
}
.gjs-input-unit {
  background-color: rgba(255, 255, 255, 0) !important;
}

span[title="View components"] {
  order: 1;
  padding-top: 5px !important;
  padding-bottom: 3px !important;
}
span.fa-ruler {
  order: 2;
  /* border-right: 1px solid #abb7bc !important; */
  /* padding-right: 30px !important; */
}
span.fa-undo {
  order: 3;
  /* padding-left: 30px !important; */
}
span.fa-redo {
  order: 4;
}
span.fa-arrows-rotate {
  order: 5;
}
span.fa-floppy-disk {
  order: 6;
  /* padding-right: 20px !important; */
}

span.gjs-pn-btn.gjs-pn-active.fa-ruler {
  border-right: 1px solid #abb7bc !important;
  padding-right: 30px !important;
}
