/*  
------------------------------------------
Stylesheet for the shell app
------------------------------------------ 
*/

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

#topBar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 65px;
  z-index: 10000000;
  background-color: #fff;
  border-bottom: solid 1px #ccc;
  padding: 0 34px 0 14px;
  box-sizing: border-box;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: space-between;
}

/* #topBar img.logo{
  height: 19px;
  margin-top: 6px;
} */
#topBar .wr_settings_btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  width: 86px;
  height: 38px;
  background: #f6f9f9;
  border-radius: 4px;
  color: #507283;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
}
#topBar .wr_upload .wr_input {
  border: 1px solid #cad3d7;
  border-radius: 7px 0px 0px 7px;
  width: 280px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
#topBar .wr_upload .wr_input img {
  margin-right: 11px;
}
#topBar .wr_upload {
  display: flex;
}
#topBar .wr_upload .wr_input input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
#topBar .wr_upload button {
  background: #51bcf7;
  border-radius: 0px 10px 10px 0px;
  width: 102px;
  height: 35px;
  font-weight: 400;
  font-size: 14px;
  border: none;
  line-height: 17px;
  font-family: Helvetica, sans-serif;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#topBar .wr_upload button img {
  margin-right: 5px;
}
#topBar .wr_settings_btn button img {
  margin-right: 7px;
}
#topBar .user_img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#topBar .user_img img {
  border-radius: 50%;
  width: 100%;
  object-fit: cover;
}
#topBar .wr_menu_logo {
  display: flex;
  align-items: center;
}
#topBar .menu_dots {
  margin-right: 33px;
}

.topbar-btn {
  border: solid 1px #fff;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 12px;
  color: #666;
  cursor: pointer;
  margin-right: 20px;
}
.topbar-btn:hover {
  border: solid 1px #f2f0ec;
  background-color: #f9f8f6;
  color: #333;
}

.topbar-btn-icon {
  font-size: 15px;
  margin-right: 6px;
}

.split-pane {
  position: absolute;
  height: calc(100% - 57px);
  width: 100%;
  overflow: auto;
  z-index: 0;
  top: 57px;
  box-sizing: content-box;
}

.panel__right {
  flex-basis: 230px;
  position: relative;
  overflow-y: auto;
}

#genie_model {
  display: none;
  position: fixed;
  right: 200px;
  width: 300px;
  z-index: 11;
  padding: 0px 0px;
  text-align: left;
  top: 40px;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  border: solid 1px #d4d4d4;
  box-shadow: 2px 5px 8px #00000050;
}

#genie_model .gn_model_container {
  padding: 20px;
  overflow-wrap: anywhere;
  max-height: 500px;
  overflow-y: auto;
}

#genie_model .gn_field_label {
  margin-bottom: 3px;
  text-transform: capitalize;
}

#genie_model .gn_title {
  font-weight: lighter;
  background-color: rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
  padding: 9px 10px 9px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.gn_input {
  background-color: white !important;
  border: 1px solid #e7e6e3 !important;
  border-radius: 3px !important;
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  z-index: 1;
  color: inherit;
}

.gn_input:focus {
  outline: none;
}

img.blockIcon {
  max-width: 30px;
  max-height: 11px;
}

#codeEditor {
  display: flex;
  position: fixed;
  top: 57px;
  left: 200px;
  width: calc(100% - 200px);
  height: calc(100% - 57px);
}

.tree-anchor,
.tree-default .tree-node {
  font-size: 12px !important;
  color: #555;
}

.tree-leaf .tree-icon {
  color: #999;
}

#codeEditor .fileTree {
  background-color: #fff;
  width: 200px;
  border-right: solid 1px #ccc;
}

/* #codeEditorContainer{
  width: 100%; 
  height: 100%; 
  position: absolute;
} */

.tree-selected {
  color: #000;
  font-weight: bold;
}

#explorerBar {
  position: fixed;
  top: 57px;
  background-color: #ffffff;
  left: 0px;
  height: calc(100% - 57px);
  width: 200px;
  border-right: solid 1px #00000030;
  overflow: auto;
}
/* #fileExplorer{
  position: fixed;
    top: 57px;
    background-color: #dddddd;
    left: 0px;
    height: calc(100% - 57px);
    width: 200px;
} */
.sidebar-panel {
  position: relative;
  padding-bottom: 10px;
  overflow: auto;
}
.sidebar-panel-title {
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 12px;
  padding: 3px;
  font-weight: bold;
  color: #000000a0;
}

.fa-paint-brush::before {
  content: url("./../images/icons/components/toolbarIcons/paint_brush.svg");
}
.fa-ruler::before {
  content: url("./../images/icons/components/toolbarIcons/ruler.svg");
}
.fa-undo::before {
  content: url("./../images/icons/components/toolbarIcons/undo.svg");
}
.fa-redo::before {
  content: url("./../images/icons/components/toolbarIcons/redo.svg");
}
.fa-arrows-rotate::before {
  content: url("./../images/icons/components/toolbarIcons/arrows_rotate.svg");
}
.fa-floppy-disk::before {
  content: url("./../images/icons/components/toolbarIcons/floppy_disk.svg");
}
.fa-layer-group::before {
  content: url("./../images/icons/components/toolbarIcons/layer_group.svg");
}
.fa-code::before {
  content: url("./../images/icons/components/toolbarIcons/coding.svg");
}

.btn_deploy::before {
  content: url("./../images/icons/components/toolbarIcons/upload.svg");
}
.btn_deploy {
  position: absolute;
  left: -150px;
  background: #51bcf7;
  width: 102px;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  height: 26px !important;
}
/* .btn_deploy:hover {
  background-color: red !important;
  box-shadow: none !important;
  opacity: 0.9 !important;
} */

.btn_deploy::after {
  margin-left: 5px;
  content: "Deploy";
  color: #fff !important;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.gjs-pn-buttons .gjs-pn-btn.fa.fa-desktop,
.gjs-pn-buttons .gjs-pn-btn.fa.fa-tablet,
.gjs-pn-buttons .gjs-pn-btn.fa.fa-mobile,
.gjs-pn-buttons .gjs-pn-btn.fa.fa-eye,
.gjs-pn-buttons .gjs-pn-btn.fa.fa-arrows-alt,
.gjs-pn-buttons .gjs-pn-btn.fa.fa-code,
.gjs-pn-buttons .gjs-pn-btn.fa.fa-download,
.gjs-pn-buttons .gjs-pn-btn.fa.fa-trash {
  display: none;
  position: relative;
}


.warningIcon.gjs-pn-btn {
  filter: sepia(1) saturate(50);
}


.gjs-trt-trait {
  /* display: block !important;
  margin-top: 5px !important; */
  width: 100%;
  padding: 0px 0px 0px 10px;
}

.gjs-label-wrp {
  /* width: unset !important; */
  width: 40%;
  padding: 0px 10px 0px 0px;
}

.gjs-sm-sector-title {
  padding-left: 15px;
}

.gjs-selected {
  outline: 2px solid #305972 !important;
}


.ai-message{
  padding: 10px;
  margin: 10px 0px;
  width: 100%;
}

.ai-message-info{
  background-color: #0800ff20;
}

.ai-message-error{
  background-color: #ff000020;
}

#ai_preview_iframe_container{
  position: fixed;
  inset: 0px 250px 0px 0px;
  background-color: #ffffff;
  padding: 10px 10px 10px;
  z-index: 5;
}

#ai_preview_iframe{
  position: relative;
  background-color: #cccccc;
  width: 100%;
  height: calc(100% - 60px);
  border: 1px solid rgb(153, 153, 153);
  border-radius: 5px;
}

.ai_preview_header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 15px;
  padding-bottom: 10px;
  font-weight: bold;
}

#aiInput{
  text-align: left;
  padding: 10px;
  width: 95%;
  resize: vertical;
  margin-top: 5px;
}

.ai-prompt-display{
  overflow: auto;
    max-height: 200px;
    color: rgb(153, 153, 153);
    margin: 10px 0px;
    font-style: italic;
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

.powered_gpt{
  border-bottom: solid 1px #30597333;
    text-align: center;
    width: 100%;
    margin: 30px 0px 0px;
    padding: 0px 0px 5px;
    color: #9a9a9a;
    font-size: 0.9em;
}