q-knob > *, q-select > *, q-input > *, q-range > *, q-slider > *, q-btn > *, q-editor > *, q-radio > *, q-checkbox > *, q-toggle > *, q-table > *, q-date > *, q-video > *, q-avatar > *, q-badge > *, react-poc > *, mui-slider > *, mui-line-chart > *, markdowntext > *, q-tabs > *, pivottable > *, q-scroll-area > *, q-card > *, waferplot > *, waferplot > *, q-tab-panels > *, q-tab-panel > *{
    /* background-color: #ff0000; */
    pointer-events: none;
}

button{
    min-width: 100px;
    min-height: 20px;
}

partial, q-select, q-input, q-range, q-slider, q-table, q-editor, q-date, q-video, q-list, q-tab-panels {
    display: block;
    min-height: 20px;
}

q-select {
    padding-left: 10px;
}

q-timeline, q-timeline-entry, q-item, mui-slider, mui-line-chart, markdowntext, q-knob, q-tabs, pivottable{
    display: block;
    border: 1px black;
}

q-checkbox, q-radio, q-toggle, q-btn, q-avatar, q-badge {
    display: inline-block;
}

q-knob, q-btn, q-toggle, q-checkbox, q-radio{
    width: max-content;
}

partial{
    padding: 20px;
}

plotly, q-tab-panels, q-tab-panel{
    display: block;
    padding: 2px;   /* This is needed so that the blue highlight border shows up in GrapesJS */
}

q-toolbar{
    padding: 2px 0px;
    display: block;
}

q-separator, q-space{
    padding: 10px 0px;
    display: block;
}

q-card {
    background-color: white;
    display:block;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.2);
    padding: 16px;
    transition: box-shadow 0.3s ease-in-out;
}
q-scroll-area{
    border: 1px dashed black;
    display: block;
  /* background: linear-gradient(to right, white, lightgray); */
    min-height: 100px;
}

q-popup-proxy{
    display: inline-block;
    width: max-content;
    padding: 1px;
}

q-img {
    display: block;
    background:lightgray;
}

div[looper] {
    border: dashed 2px rgb(59 130 246);
    padding: 10px;
    min-height: 40px;
    margin: 2px;
}
div[conditional] {
    border: dashed 2px rgb(246, 171, 59);
    padding: 10px;
    min-height: 40px;
    margin: 2px;
}
/* ---- layout container for gbTemplatecontainer ---- */
.layoutMockRoot{
    
}

.layoutMockRow{
    padding: 0px !important;
}
.layoutMockCol{
    /* min-height: 100vh; */
    min-height: calc(100vh - 20px) !important;
}

#gbTemplateContainer{
    min-height: 100% !important; 
    padding: 20px !important;
    padding-bottom: 100px !important;
}
/* 
.gjs-dashed *[data-gjs-highlightable] {
    outline: 1px dashed rgba(170,170,170,0.7);
    outline-offset: -2px;
} */

JULIA_CODE {
    padding: 10px;
    display: inline-block;
}

/* any element (*) which has .componentError as an immediate child */
*:has(>.componentError){
    width: 100%;
}


.componentError{
    background-color: #f4e1b0;
    color: #000000a0;
    padding: 10px;
    display: inline-block;
    position: relative;
}

.componentErrorIcon{
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 20px;
}

.st-col{
    min-height: 30px;
}

.row{
    min-height: 30px;
}


#gbTemplateContainer > img{
    width: 100%;
}